<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form name ="order" action="http://127.0.0.1:8000/orderfood/orderaccepted" method="POST">

    {% csrf_token %}

    order:<br>

    <input type="hidden" name="outlet" value={{outlet}}>

    {% for i in out %}
        {{i}}<br><input type="number" name="{{i}}"> <br><br><br>
    {%endfor%}
</select>
    <br>
    <br><br>
    <input type="submit" value="Submit">
    <div class="pm-button">
        <a href="https://www.payumoney.com/paybypayumoney/#/EA6402BFF4E0D37A4C2D0FEA448BDCE4">
          <img src="https://www.payumoney.com/media/images/payby_payumoney/new_buttons/21.png" />
        </a>
      </div>
        

</form>

</body>
</html>