<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    {% csrf_token %}
    Your pending orders are:
    {% for i in q %}
    <div>
        Order: {{i}}<br>    
    </div>    
    {%endfor%}

    <form action ="done" method="POST">
        
            {% csrf_token %}
            Mark done:<br>
            <select name="Order">
            {% for i in q %}
            
                <option value="Order">{{i}}</option></br>
            
            {%endfor%}
        </select>
            <input type="submit" value="Submit">
            
            <br>
        
                
        
        </form>
</body>
</html>