<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><b>Food Junction</b></p><br>
<p> <i>Open Orders</i></p><br>
{% for i in orderListFoodjunction_open %}
    {{i}}<br>
{%endfor%}
<p> Closed Orders</p><br>
{% for i in orderListFoodjunction_close %}
    {{i}}<br>
{%endfor%}
<p><b>Hunger Cycle</b></p><br>
<p>Open Orders</p>
{% for i in orderListHungercycle_open %}
    {{i}}<br>
{%endfor%}
<p>Closed Orders</p>
{% for i in orderListHungercycle_close %}
    {{i}}<br>
{%endfor%}
</body>
</html>